---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>



<h2>Selected Publications</h2>
<hr />

<ul>
  <li>
    <strong>EPEE: Towards Efficient and Effective Foundation Models in Biomedicine</strong><br />
    Zaifu Zhan, <strong>Shuang Zhou</strong>, Huixue Zhou, Zirui Liu, and Rui Zhang<br />
    <em>npj Health Systems</em>, 2026.
  </li>

  <br />

  <li>
    <strong>Automating Expert-Level Medical Reasoning Evaluation of Large Language Models</strong><br />
    <strong>Shuang Zhou</strong><sup>#</sup>, Wenya Xie<sup>#</sup>, Jiaxi Li<sup>#</sup>, Zaifu Zhan, Meijia Song, Han Yang, Cheyenna Espinoza, Lindsay Welton, Xinnie Mai, Yanwei Jin, Zidu Xu, Yuen-Hei Chung, Yiyun Xing, Meng-Han Tsai, Emma Schaffer, Yucheng Shi, Ninghao Liu, Zirui Liu, and Rui Zhang<br />
    <em>npj Digital Medicine</em>, 2025. Impact Factor: 18.
    <br />
    <small><sup>#</sup> Equal contribution.</small>
  </li>
</ul>









<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



